*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: cornflowerblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.btn {
  color: white;
  background: darkblue;
  padding: 1rem;
  margin: 1rem;
  font-weight: 600;
  display: inline-block;
}

.button-sec {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  padding: 1rem 2rem;
  background: darkcyan;
  display: block;
}

.active {
  background: lightblue;
  color: black;
}
